body {
  text-align: center;
  margin: 0;
  padding: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


img{
  height: 80px;
}
.border{
  border-style: solid;
  border-radius: 12px;
}
button{
  background: red;
  height: 30px;
  width: 30px;
  font-size: 20px;
  border-radius: 8px
}
#button2{
  background: green;
}
.left{
  float: left;
  padding-left: 20px
}
.item{
  padding-bottom: 10px;
width: 60%;
padding-left: 18%
}